.hero{
    height: 100vh;
    background:rgb(5, 16, 41);
    display: flex;
}
.hero-left{
    flex:1;

display: flex;
flex-direction: column;
justify-content: center;
gap: 20px;
padding-left: 180px;
line-height: 1.1;

}
.hero-left h2{
    color: #f5eded;
    font-size: 26px;
    font-weight: 600;
    font-style: oblique;
}
.hero-left p{
    color: #f5eded;
    font-size: 89PX;
    font-weight: 700;
    font-style: oblique;
}
.hero-hand-icon{
    display: flex;
    align-items: center;
    gap: 20px;
    
}
.hero-hand-icon img{
    width: 105px;
}
.hero-latest-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:15px;
    width: 310px;
    height: 70px;
    margin-top: 30px;
    background:red;
    border-radius: 75px;
    color: white;
    font-size: 22px;
    font-weight: 500;

}
.hero-right{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
}